
/*header{
    display: flex;
    flex-direction: column;
    align-items: center;
}*/

/*header img{
    width: 1px;
}*/

/*header nav ul{
    list-style: none;
    font-size: 20px;
    color: crimson;
.grid-galeria{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 30vh);
    /* grid-template-areas: 
    "img1 img2 img3"
    "img1 img4 img4"
    "img5 img5 img5"; 
}*/

/*.img-1{
    grid-row: span 2;
}

.img-3{
    grid-column: span 1;
}

.img-4{
    grid-column: span 2;
}

.img-5{
    grid-column: span 3;
}*/


/*h1{
    text-align: center;
    margin: 20px;
    font-size: 50px;
}*/
/*
.card{
    width: 350px;
    height: 380px;
    border-radius: 20px 0px;
    overflow: hidden;
    box-shadow: 10px 12px 28px 0px rgba(0,0,0,0.75);
    position: relative;
}

.card img{
    width: 50%;
    height: 20px;
}
.contenedor-destacados{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 25px;
    padding-bottom: 40px;
}

.card-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 180px;
    padding: 10px;
}

.card{
    border-radius: 200px 0;
    overflow: hidden;
}
}
*/
/*.menu{
    flex-grow: 0;
}

.menu .menu-ul{
    column-gap: 10px;
    align-items: center;
}

.menu ul li a{
    color: fuchsia;
    font-size: 18px;
    text-decoration: none;
}

.menu ul li a:hover{
    color: #ff00ff92;
    text-decoration: underline;
}

.menu-icon{
    background-image: url(./../img/hamburger-menu.svg);
}

.menu-button{
    border: none;
}

.menu-button:focus{
    box-shadow: none;
}

.padding-0{
    padding: 0;
}

@media screen and (max-width: 991px){
    .menu{
        position: absolute;
        top: 152px;
        background-color: aliceblue;
        width: 100vw;
    }
}*/